{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}


{% block content %}
<div class="full-screen-box">
<div class = "login">

    <h1 style="padding-bottom: 10px; text-align: center;text-shadow: 0 0 20px gold;">Star Age Storage</h1>
    <p style="text-align: center;">Log in to access your items</p>
<style>
    table {
    border-collapse: collapse;
    width: 100%;
    margin: 2px; /* Border around the table */
}

th, td {
/* Border around table cells (headers and data cells) */
    padding: 8px;
    text-align: center;
}
</style>
    
    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr style="padding: 1px;">
                <td style="border:none;">Username: </td>
                <td style="border:none;"><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td style="border:none;">Password: </td>
                <td style="border:none;"><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
        </table>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
        
    Are you a newcomer? <a href="{% url 'main:register' %}"> Begin your journey</a>

</div>
</div>
{% endblock content %}